.feedback-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-family:  "Montserrat", sans-serif;
}
.feedback-form, label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.feedback-form label input {
    outline-color: #808080;
}
input:focus, input:active, textarea:focus, textarea:active {
    outline: none;  }